{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">

        <div class="row ">
            <div class="col text-center">
                <h2>about <span class="todo-text">todo.</span></h2>
            </div>
        </div>
        <div class="row ">
            <div class="col text-center">
                <img class="about-pic" src="../static/resources/img/dan_pic.png">
            </div>
        </div>
        <div class="row ">
            <div class="col text-center">
                <p><span class="todo-text">todo.</span> is a <i>to-do list</i> web application for TR-55<br> output created by Dan.</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique obcaecati ex fugit officia cumque iure repellendus voluptates quisquam. Reiciendis nam blanditiis delectus corrupti, nulla aliquam deleniti explicabo ratione ab autem?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla repellendus quo aperiam cum porro velit alias soluta doloremque, rerum ipsam sit eaque, quaerat quidem aspernatur laboriosam placeat, repudiandae labore vel!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo dolore aspernatur ullam maxime dolores sapiente nesciunt, odio aperiam commodi reiciendis, aut repellendus eaque iusto iste repudiandae cumque iure. Voluptatem, temporibus.
            </p>
        </div>
    </div>
{% endblock %}