{% extends "account.html" %}
{% block tasksBlock %}
    <div class="container d-flex justify-content-center todo-form-all">
        <div class="row ">
            <div class="col form-offset-height">
                <div class="text-center">
                    <span class="todo-text todo-text-login-form">Task Deleted</span>
                </div>
                <div class="d-flex justify-content-center todo-login-form todo-register-form" id="add-task-view">
                    
               
                </div>
            </div>
        </div>
    </div>
{% endblock %}


