{% extends "user_tasks.html" %}
{% block changeBlock %}
    <div class="container todo-form-all">
        <div class="align-self-center">

            <!-- <div class="container-fluid row d-flex justify-content-center profile-picture-format">
                <img class="" src="{{url_for('static',filename='resources/img/'+current_user.profile_image)}}"><br>
                
            </div> -->
        </div>

        <div class="row abc123">
            <div class="col form-offset-height update-all">
                <div class="text-center">
                    <span class="todo-text todo-text-login-form">Update</span>
                </div>
                    <a href="{{ url_for('users.account',id= current_user.id,scroll='account-tasks') }}">
                        <h1 class="x-icon">
                            <i class="bi-x"></i>
                        </h1>
                    </a>
                <div class="d-flex justify-content-center todo-login-form todo-register-form">
                    <form method="POST" action="" enctype="multipart/form-data" class="todo-form-register-edit">
                        {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="col">
                                    {{ form.picture.label(class="todo-reg-text") }} <br>
                                    {{ form.picture(class="todo-reg-text") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form.email.label(class="todo-reg-text") }} <br>
                                    {{ form.email(class="todo-reg-text") }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    {{ form.fname.label(class="todo-reg-text") }}<br>
                                    {{ form.fname(class="todo-reg-text") }}
                                </div>
                                <div class="col-6">
                                    {{ form.lname.label(class="todo-reg-text") }}<br>
                                    {{ form.lname(class="todo-reg-text") }}
                                </div>
                            </div>
                            <div class="row todo-submit todo-submit-register">
                                <div class="d-flex justify-content-center col">
                                    {{ form.submit(class="todo-submit-col") }}
                                </div>
                            <div>                                                    
                    </form> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}


